{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-2xl text-center font-bold">Bienvenue sur Docker Manager</h1>
<p>Vous allez pouvoir gérer vos conteneurs Docker avec cet outil</p>
{% endblock %}
